<div *ngIf="isPageLoading" class="animationload">
  <div class="loader">Tonnen laden...</div>
</div>

<nav [ngClass]="{'navbar-th-scrolled':isPageScrolled}" class="navbar navbar-toggleable-sm fixed-top navbar-th" id="th-navbar">
    <button (click)="isNavbarCollapsed=!isNavbarCollapsed" class="navbar-toggler navbar-toggler-right navbar-toggler-th" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" href="#">Tonhuis</a>
  
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse navbar-toggleable" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aanbod">Aanbod</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#realisaties">Realisaties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
</nav>

<section id="home">
  <div class="home-bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="intro-title">{{getSiteText('head_title')}}</h1>
        <p class="intro-text">
          <markdown data="{{getSiteText('head_subtitle')}}"></markdown>
          <br/>
        </p>
      </div>
    </div>
  </div>
</section>


<section id="aanbod" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title">Aanbod</h3>
          <p class="slog">
            <markdown data="{{getSiteText('products_title')}}"></markdown>
          </p>
        </div>
      </div>
  
      <div class="row">
        <div *ngFor="let product of products; let i = index" class="col-lg-3 col-sm-6 port-item margin-b-md">
          <div *ngIf="showAllProducts || i < defaultProductsShown">
            <div class="item-img-wrap">
              <img src="http://www.tonhuis.be/content/thumbnail/300/300/crop/best/{{product['images']['data'][0]['name']}}" class="img-responsive" alt="workimg">
              <div class="item-img-overlay">
                <a (click)="openProductModal(product)" class="show-image">
                  <span></span>
                </a>
              </div>
            </div>
            <div class="work-desc">
              <h3><a href="#">{{product['title']}}</a></h3>
              <p>
                € {{product['price']}}
                <br/>
                <markdown data="{{product['description']}}"></markdown>
              </p>
              <div class="work-foot">
                <button type="button" class="btn btn-custom btn-custom-interested float-right" (click)="openProductModal(product)">INFO en foto's</button>
              </div>
            </div>
          </div>
        </div>       
      </div>


      <p *ngIf="showAllProducts ? false : (products.length - defaultProductsShown > 0)">
        En nog {{products.length - defaultProductsShown}} 
          ander{{products.length - defaultProductsShown === 1 ? '' : 'e'}} 
          werkje{{products.length - defaultProductsShown === 1 ? '' : 's'}}! 
          <br/><br/>
        <button type="button" class="btn btn-custom" (click)="showAllProducts=true">Meer ton(n)en</button>
      </p>
      

    </div>
  </section>
  


<section class="parallax" id="realisaties">
  <div class="container-fluid">
    <ngb-carousel>
      <ng-template *ngFor="let testimonial of testimonials" ngbSlide>  
        <img class="carousel-img mx-auto d-block" src="http://www.tonhuis.be/content/thumbnail/200/200/contain/best/{{testimonial['image']['data']['name']}}" alt="Random third slide">
        <div class="carousel-caption">
          <h3 class="carousel-h3"><span class="carousel-marking">{{testimonial['title']}}</span></h3>
          <markdown class="carousel-p carousel-marking" data="{{testimonial['description']}}"></markdown>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>

<section id="contact" class="bg-dark">
  <div class="container">
    <div class="row text-center justify-content-md-center">
        <div class="col-md-12">
            <h3>
              <markdown data="{{getSiteText('contact_title')}}"></markdown>
            </h3><br/><br/>
        </div>
    </div>
    <div class="row text-center info-contact">
      <div class="col-sm-6 col-md-4 margin-b-md">
        <i class="fa fa-envelope-open"></i>
        <h4>Mailen</h4>
        Mail ons op
        <a href="mailto:{{getSiteText('contact_mail')}}" class="support">
          {{getSiteText('contact_mail')}}
        </a>
      </div>
      <div class="col-sm-6 col-md-4 margin-b-md">
          <i class="fa fa-phone"></i>
          <h4>Bellen</h4>
          Bel ons op
          <a href="tel:{{getSiteText('contact_phone')}}" class="support">{{getSiteText('contact_phone')}}</a>
        </div>
      <div class="col-sm-6 col-md-4 offset-sm-3 offset-md-0 margin-b-md">
        <i class="fa fa-map-marker"></i>
        <h4>Locatie</h4>
        <a target="_blank" rel="noopener" href="https://www.google.be/maps/place/{{getSiteText('contact_location')}}" class="support">
          <markdown data="{{getSiteText('contact_location')}}"></markdown>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="footer text-center"> <!-- Footer-copyright -->
  <p>© 2015 - {{currentDate | date: 'yyyy'}} | Tonhuis.</p>
</footer>

<a href="#" class="back-to-top"> <i class="fa fa-chevron-up"> </i> </a>