.form-control:focus {
	border-color: #998E62;
}
.navbar-custom .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus,
.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus,
.intro-title span,.testi-slide p,#ajaxsuccess,#contact i,#contact h4, a:hover,a:focus,a:active {
	color: #E1AE6E !important;
}
.item-img-overlay span{
    /*background: url(../img/plus.png) no-repeat center center rgba(225, 174, 110, 0.7);*/
}
.work-desc{
	min-height: 13em;
	display:flex;
	flex-direction:column;
	padding-bottom:48px;
    border-bottom: 2px solid rgba(225, 174, 110, 0.7);
}
.back-to-top {
    background: #E1AE6E;
}

a:hover, a:focus, a:active, .markdownlink > p:hover {
	color: #E1AE6E;
}

.home-bg {
	-webkit-filter: sepia(87%);
	filter: sepia(87%);
	background-color:#998E62;
}

.item-img-wrap img {
	width: 100%;
}

.carousel-img {
	height: 200px;
}

